<h1>Contact Book</h1>

<form action="/contactForm" method="post">
  <label for="firstName"></label>
  <input id="firstName" name="firstName" type="text">
  <label for="lastName"></label>
  <input id="lastName" name="lastName" type="text">
  <label for="jobTitle"></label>
  <input id="jobTitle" name="jobTitle" type="text">
  <label for="company"></label>
  <input id="company" name="company" type="text">
  <button = "submit" btn= "success"><a href ="/success.erb">Submit my contact</a></button>
</form>

<a href="/contacts">View your contacts</a>
